<center> <h1># WELCOME TO PANDAS <h1><center>

In [8]:
import pandas as pd

## 2 main datatypes
- Series
- dataframes

In [9]:
series = pd.Series(["BMW","lamborgini","Buggati"])

In [10]:
series

0           BMW
1    lamborgini
2       Buggati
dtype: object

### Series = 1 D

In [12]:
color = pd.Series(["Red","Blue","White"])
color

0      Red
1     Blue
2    White
dtype: object

# DATAFRAME = 2 D

In [16]:
car_data = pd.DataFrame({"Car_Brand" : series,"Car_Color" : color})
car_data

    Car_Brand Car_Color
0         BMW       Red
1  lamborgini      Blue
2     Buggati     White

### importing data

In [17]:
car_sales = pd.read_csv("car-sales.csv")

In [18]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## exporting dataframe

In [24]:
car_sales.to_csv("exported-car-sales.csv", index = False)

In [25]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")

In [26]:
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00